// Footer
footer
  .row
    .col-lg-12
      pre.pull-center.
        Copyright © Thomas and Jack the master wizards 2016
                            ____
                          .'* *.'
                       __/_*_*(_
                      / _______ \
                     _\_)/___\(_/_
                    / _((\- -/))_ \
                    \ \())(-)(()/ /
                     ' \(((()))/ '
                    / ' \)).))/ ' \
                   / _ \ - | - /_  \
                  (   ( .;''';. .'  )
                  _\"__ /    )\ __"/_
                    \/  \   ' /  \/
                     .'  '...' ' )
                      / /  |  \ \
                     / .   .   . \
                    /   .     .   \
                   /   /   |   \   \
                 .'   /    b    '.  '.
             _.-'    /     Bb     '-. '-._
         _.-'       |      BBb       '-.  '-.
        (________mrf\____.dBBBb.________)____)

// jQuery
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
script(src='js/twitter.js')
script.
  initiateCharts();
  validateSocket();
